@page
@model IndexModel
@{
    
}

        <form class="login-form">
            <input type="text" placeholder="ID or Passport Number" />
            <input id="Submit1" type="submit" value="Clock In" />
            </form>